#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    
  }

#container ion-card ion-card-header{
    font-family: cursive;
    font-size: 40px;
}
#container ion-card ion-card-content ion-item ion-label{
    font-family: cursive;
    font-size: 20px;
}
#container ion-button{
    font-family: cursive;
}