#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
  
}
#container ion-card ion-button{
  width: 100%;
  font-family: cursive;
}
#cerrar{
  margin-left: 60%;
  font-size: 10px;
  font-family: cursive;
}
#avatar ion-chip {
  position: absolute;


}